<div class="flex h-screen">
  <div class="block w-full m-auto">
    <div class="card">
      <%= tag.p alert, class: 'text-center text-red-800 bg-red-200 rounded border-1 border-red-800 p-4' if alert %>
      <%= form_with(url: sign_in_path, method: 'post', data: { turbo: 'false' }) do |form| %>
        <%= form.hidden_field :state, value: state %>
        <div class="my-3">
          <%= form.label :email, class: 'form-label' %>
          <%= form.email_field :email, class: 'text-input-field' %>
        </div>
        <div class="my-3">
          <%= form.label :password, class: 'form-label' %>
          <%= form.password_field :password, class: 'text-input-field' %>
        </div>
        <div class="text-center">
          <%= form.submit t('.submit'), class: 'btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
